.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topBar {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  height: 50px;
  width: 100%;
  margin-bottom: 2px;
}

.main {
  position: absolute;
  top: 50px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: gray;
  margin-top: 5px;
}

.diagram-container{
	background: #333333;
	width: 100%;
	height: 100%;
}

.custom-node{
	border: solid 2px gray;
	border-radius: 5px;
	width: 250px;
	height: 200px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

.custom-node2{
	border: solid 2px gray;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

.custom-node3{
	border: solid 2px gray;
	border-radius: 5px;
	width: 250px;
	height: 200px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

#hexagon {
  width: 200px;
  height: 200px;
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background: white;
}

#hexagon::before {
  content: "";
  position: absolute;
  top: -62px;
  left: -1px;
  width: 0;
  height: 0;
  border-left: 102px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 62px solid white;
}

#hexagon::after {
  content: "";
  position: absolute;
  bottom: -62px;
  left: -1px;
  width: 0;
  height: 0;
  border-left: 102px solid transparent;
  border-right: 100px solid transparent;
  border-top: 62px solid white;
}

.custom-node-color{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.circle-port{
	width: 12px;
	height: 12px;
	margin: 2px;
	border-radius: 4px;
	background: darkgray;
	cursor: pointer;
}

.circle-port:hover{
	background: mediumpurple;
}